 <h1><%= @team %></h1>

<h2>Game Results</h2>

<tr>
    <th>Opponent</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <tr>
<% stats.each do |game| %>
  <% if game[:home_team] == @team %>
    <td> vs. <a href="/team/<%= game[:away_team] %>"><%= game[:away_team] %></a></td>
    <td><%= game[:home_score] %></a></td>
    <td><%= game[:away_score] %></a></td>
  <% elsif game[:away_team] == @team %>
    <td> @ <a href="/team/<%= game[:home_team] %>"><%= game[:home_team] %></a></td>
    <td><%= game[:away_score] %></a></td>
    <td><%= game[:home_score] %></a></td>
  <% end %>
<% end %>





